.instruction{
    
        background-color: #a781f5;
        border: solid black 4px;
        border-radius: 25px;
        bottom: 400px;
        left: 0;
        margin: auto;
        overflow: scroll;
        opacity: .96;
        position: fixed;
        right: 0;
        top: 100px;
        width: 75%;
        z-index: 1;
      
}
.inst-card{
    display: flex;
    justify-content: center;
}
.rules-text p {
    font-size: 30px;
    margin-bottom: 10px;

}
.rules-text button{
    width:100px;
    height:50px;
    margin-top:40px;
    border-radius:50px;
    font-size: 20px;
    margin-left:200px;
}
    

