// .instruction{
//     background-color: #584b45;
//     height: 200px;
//     display: flex;
//     justify-content: center;
// }
.instruction{
    
        background-color: #a781f5;
        border: solid black 4px;
        border-radius: 25px;
        bottom: 100px;
        left: 0;
        margin: auto;
        overflow: scroll;
        opacity: .96;
        position: fixed;
        right: 0;
        top: 100px;
        width: 75%;
        z-index: 1;
      
}
.inst-card{
    display: flex;
    justify-content: center;
}
.rules-text p {
    font-size: 30px;
    margin-bottom: 10px;

}
.rules-text button{
    width:20px;
    height:20px;
    margin: 0 auto;
}
    

