//Mixins
@mixin giveWidth($width){
  width: $width;
}
@mixin giveMarginTop($margin){
  margin-top: $margin;
}
@mixin giveMarginLeft($margin){
  margin-left: $margin;
}
@mixin giveMargin($margin){
  margin: $margin;
}
@mixin givePadding($padding){
  margin: $padding;
}
@mixin giveFontSize($fontsize){
  font-size: $fontsize;
}
@mixin giveBgColor($backgroundcolor){
  background-color: $backgroundcolor;
}
@mixin giveHeight($height){
  height: $height;
}
.instruction {
  @include giveBgColor(#a781f5);
  // background-color: #a781f5;
  border: solid black 4px;
  border-radius: 25px;
  bottom: 230px;
  left: 0;
  margin: auto;
  overflow: auto;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 190px;
  @include giveWidth(50%);
  // width: 50%;
  z-index: 1;
  
}

.inst-card {
  display: flex;
  justify-content: center;
  transition: 200px 2s;
}
.rules-text p {
  @include giveMarginTop(30px);
  // margin-top: 30px;
  @include giveFontSize(30px);
  // font-size: 30px;
  margin-bottom: 10px;
}
//Style button for pop-up card
.rules-text button {
  @include giveWidth(50px);
  // width: 50px;
  @include giveHeight(50px);
  // height: 50px;
  border-radius: 50px;
  @include giveFontSize(20px);
  // font-size: 20px;
  margin: 0 auto;
  float: right;
}

.rules-text button:focus {
  outline: none;
}
.rules-text button:hover {
  cursor: pointer;
}

//Media query
@media screen and (min-width: 760px) {
  .instruction {
    @include giveWidth(80%);
    // width: 80%;
    @include giveBgColor(magenta);
    // background-color: magenta;
    bottom: 200px;
  }
}
@media screen and (min-width: 320px) {
  .instruction {
    @include giveWidth(82%);
    // width: 82%;
    background-color: red;
    bottom: 60px;
    @include giveMarginLeft(22px);
    // margin-left: 22px;
  }
  .rules-text p {
    font-size: 20px;
  }
  .rules-text button {
    @include giveWidth(50px);
    // width: 50px;
    @include giveHeight(30px);
    // height: 30px;
    float: none;
    margin-left: 120px;
    border: 2px solid black;
    @include giveMarginTop(100px);
    // margin-top: 100px;
  }
}
@media screen and (min-width: 375px) {
  .instruction {
    // @include giveWidth(90%);
    // width: 90%;
    @include giveBgColor(red);
    // background-color: red;
    bottom: 88px;
    @include giveMarginLeft(21px);
    // margin-left: 21px;
  }
  .rules-text p {
    @include giveFontSize(24px);
    // font-size: 24px;
  }
  .rules-text button {
    @include giveWidth(81px);
    // width: 81px;
    @include giveHeight(40px);
    // height: 40px;
    float: none;
    @include giveMarginLeft(120px);
    // margin-left: 120px;
    border: 2px solid black;
    @include giveMarginTop(100px);
    // margin-top: 100px;
    @include giveFontSize(30px);
    // font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .instruction {
    @include giveWidth(60%);
    // width: 60%;
    @include giveBgColor(red);
    // background-color: red;
    @include giveMarginLeft(163px);
    // margin-left: 163px;
  }
  .rules-text button {
    @include giveMarginLeft(175px);
    // margin-left: 175px;
  }
}
