.card-buttons {
  display: grid;
  grid-template-rows: 50px 50px 50px 50px;
  margin-top: 20px;
}
.card-buttons button {
  margin-top: 10px;
  font-size: 20px;
  border-radius: 50px;
  background: #add8e6;
  text-shadow: -1px -1px 0 #a84155;
  background-image: linear-gradient(top, #f66c7b, #d25068);
  transition: 1s;
}
.card-buttons button:focus {
  outline: none;
}
.card-buttons button:hover {
  cursor: pointer;
  border: 6px solid #ffff;
  background-color: $salmon;
}

@media screen and (min-width: 320px) {
  .card-buttons {
    margin-top: 70px;
    margin-left: 46px;
  }
  .card-buttons button {
    width: 90%;
  }
}
